<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/update.css" />
  </head>
  <body>
    <div>
      <h1><%= patient_name %> information</h1>
      <form action="/updateResults" method="post">
        <div class="container">
          <label for="">Patient id</label>
          <input type="text" disabled value="<%= patient_id %>" name="patient_id" />
          <label for="">Patient name</label>
          <input type="text" value="<%= patient_name %>" name="patient_name" />
          <label for="">patient age</label>
          <input type="text" value="<%= patient_age %>" name="patient_age" />
          <label for="">address</label>
          <input
            type="text"
            value="<%= patient_address %>"
            name="patient_address"
          />
          <label for="">mobile no</label>
          <input
            type="text"
            value="<%= patinet_mobileNo %>"
            name="patient_mobileNo"
          />
          <label for="">patient disease</label>
          <input
            type="text"
            value="<%= patient_disease %>"
            name="patient_disease"
          />
          <button>Update</button>
        </div>
      </form>
    </div>
  </body>
</html>
